body {
    background-color: lightgray;
    height: 100%;
}

main {
    height: 80vh;
    width: 50%;
    margin: auto;
    margin-top: 10vh;
    background-color: white;
    position: relative;
    padding: 10px;
    border-radius: 10px;
}

.inputBox {
    text-align: center;
    margin: 5px;
}

.inputBox input {
    width: 20vw;
    padding: 10px;
    font-size: 28px;
}

.inputBox button {
    padding: 10px;
    margin-left: 5px;
    font-size: 30px;
    background-color: lightblue;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}

.todoBoard {
    height: 100%;
}

.todoBoard p {
    font-size: 25px;
}

.todoListBox {
    height: 80%;
    overflow-y: scroll;
}

.todo-item {
    width: 95%;
    height: 80px;
    border: 3px solid lightblue;
    margin: 5px;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-item span {
    margin-left: 10px;
}

.todo-item button {
    font-size: 25px;
    /* width: 10%; */
    /* height: 60%; */
    margin-right: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: lightblue;
    padding: 10px;
    cursor: pointer;
}